<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <!-- Add links to Bootstrap CSS and JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    {{ navbar|safe }} <!-- Inject the navbar -->
    <div class="container">
        <h1 class="mt-4">My Projects</h1>
        <p>This page showcases my projects.</p>

        <main class="container">
            <section class="content">
                <article>
                    <h2>Research</h2>
                    <div class="table-container">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Research</th>
                                    <th>Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Investigating Stress-Induced Driving Behaviors</td>
                                    <td><a href="https://docs.google.com/presentation/d/1qjiWBtG510HxopPKbXi8KIrd88_-oQeh/edit#slide=id.p2" target="_blank">Research Presentation</a></td>
                                </tr>
                                <tr>
                                    <td>Content-Specific Virtual Reality Sickness: Validation Research</td>
                                    <td><a href="./downloadables/COF Poster Presentation.pdf">Research Poster</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>

                <article>
                    <h2>Programming Projects</h2>
                    <div class="table-container">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Snap & Server (HackDearborn 3)</td>
                                    <td><a href="https://github.com/Yug3737/HackDearborn2024" target="_blank">GitHub Repo</a></td>
                                </tr>
                                <tr>
                                    <td>KSU Combat Robotics Website</td>
                                    <td><a href="https://www.ksucombat.club/" target="_blank">View It Here</a></td>
                                </tr>
                                <tr>
                                    <td>Project Green (KHE24)</td>
                                    <td><a href="https://github.com/YoyoJesus/Project-Green" target="_blank">GitHub Repo</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>

                <article>
                    <h2>Combat Robotics</h2>
                    <div class="table-container">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Season</th>
                                    <th>Video</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2023 Season (HS)</td>
                                    <td>
                                        <div class="iframe-container">
                                            <iframe src="https://www.youtube.com/embed/n7SJnRNeklM?si=oyU60oNtmcQ7PZ99" allowfullscreen></iframe>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2022 Season (HS)</td>
                                    <td>
                                        <div class="iframe-container">
                                            <iframe src="https://www.youtube.com/embed/BHme7fJbSTU?si=ko8lP8m4gRiZjeqG" allowfullscreen></iframe>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>

                <article>
                    <h2>Misc. Projects</h2>
                    <div class="table-container">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Video</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Game of Drones</td>
                                    <td>
                                        <div class="iframe-container">
                                            <iframe src="https://www.youtube.com/embed/zy-A3tYQ9-8?si=RbQO6KYsHl4RdqMp" allowfullscreen></iframe>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
            </section>
        </main>
    </div>
</body>
</html>
